spring.datasource.driver-class-name=org.h2.Driver
spring.datasource.url=jdbc:h2:mem:db;DB_CLOSE_DELAY=-1
spring.datasource.username=sa
spring.datasource.password=sa
spring.datasource.platform=h2
#spring.datasource.initialization-mode=always

#spring.jpa.hibernate.ddl-auto=create

spring.main.allow-bean-definition-overriding=true

app.security.jwt.secret=secretsecretsecret
app.security.jwt.expire-length=36000000
app.security.jwt.remember-me-expire-length=604800000

spring.web.locale=en
logging.level.org.springframework=off
logging.level.root=off

spring.flyway.enabled=false

spring.jpa.properties.hibernate.enable_lazy_load_no_trans=true
