@import "mixins/defaultLayout";

main {
  > a {
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;

    border: 2px solid transparent;
    border-radius: 5px;

    color: #1c1c1c;
    font-size: 20px;

    backface-visibility: hidden;

    -webkit-font-smoothing: subpixel-antialiased;

    text-decoration: none;

    text-align: center;
    background: white;

    transition: 200ms ease-in-out;

    &:hover {
      transition: 200ms ease;
      transform: scale(1.05);
      border: 2px solid mediumpurple;
    }
  }
}