spring.data.mongodb.uri=

spring.web.locale=en

app.security.jwt.secret=
app.security.jwt.expire-length=36000000
app.security.jwt.remember-me-expire-length=604800000

logging.file.path=../log
logging.file.name=../log/calculatebill.log
logging.level.root=info
logging.logback.rollingpolicy.max-history=5

springfox.documentation.swagger-ui.base-url=/api
springfox.documentation.swagger.v2.path=/api/api-docs
