.flex {
  &__container, &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__wrapper {
    width: 80%;
    align-items: center;

    @media (min-width: 768px) {
      width: 50%;
    }
    @media (min-width: 960px) {
      width: 25%;
    }
  }

  &__container {
    width: 100%;
    height: 100vh;
  }
}

.column {
  flex-direction: column;
}

.jc {
  &__c {
    justify-content: center;
  }
  &__s {
    justify-content: flex-start;
  }
}

.ai {
  &__c {
    align-items: center;
  }
  &__s {
    align-items: flex-start;
  }
}

header {
  width: 100%;
  text-align: start;
  color: white;
  margin-bottom: 10px;
  font-size: 22px;
}

header.center {
  text-align: center;
}

main {
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

main.center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  > * {
    margin-bottom: 10px;
  }

  > button {
    width: 35%;
    height: 40px;
    border: transparent;
    border-radius: 5px;

    background: mediumpurple;
    color: white;
    font-size: 18px;
    font-weight: 600;

    @media (min-width: 320px) {
      width: 50%;
    }
  }

  > * {
    font-size: 16px;

    > span {
      color: white;
      margin: 0 5px;
    }

    > a {
      color: mediumpurple;
      text-decoration: none;
    }
  }
}