.bills-list {
  &__container {
    min-height: 500px;
  }

  &__container, &__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__wrapper {
    > header {
      margin-bottom: 10px;

      > strong {
        color: white;
        font-size: 20px;
      }
    }

    > main {
      overflow: hidden;
      overflow-y: scroll;
      max-height: 500px;
      padding: 20px;
      width: 100%;
      box-sizing: content-box;
    }
  }
}