.input__container {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;

  > input {
    padding: 0 5px;
    margin: 5px auto;
    width: 100%;
    height: 40px;

    border: 1px solid grey;
    border-radius: 5px;
    background: dimgray;

    color: white;

    &::placeholder {
      color: white;
    }

    &:focus {
      transition: 300ms ease;
      border: 1px solid mediumpurple;
    }

    &:focus + svg {
      color: mediumpurple;
    }
  }

  > svg {
    position: absolute;
    top: 55%;
    right: 2%;
  }

  > label {
    font-weight: 700;
    color: white;
  }
}